.header__lang-link {
  text-decoration: none;
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  line-height: 107%;
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 6px;
}
.header__lang-link:hover {
  
  opacity: 80%;
    cursor: pointer;
  }

.header__lang-link:last-child {
  margin-right: 0;
}
@media (max-width: 425px){    
  .header__lang-link{
    font-size: 18px;
    line-height: 1.1;
  }
}