.place__paragraphe {
  grid-column: 2;
  grid-row: 2;
  font-weight: 400;
  font-Size: 18px;
  Line-height: 1.63;
  margin: 0;
  margin-bottom: 26px;
}
@media (max-width: 768px){    
  .place__paragraphe {
    font-Size: 16px;
    margin-bottom: 25px;  
  }
}
@media (max-width: 425px){     
  .place__paragraphe {
    grid-column: 1;
    grid-row: 4;
    font-weight: 400;
    font-Size: 18px;
    Line-height: 1.63;
    margin-left: 16px;
    margin-bottom: 26px;
  }
}