.intro__list {
  Font-Weight: 400;
  Font-style: Mixed;
  Font-size: 12px;
  Line-height: 18px;
  Line-height: 124%;
  padding: 0;
  list-style: none;
}
@media (max-width: 425px){       
  .intro__list{
    margin: 0;
  }
}