.intro__list {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  line-height: 124%;
  padding: 0;
  list-style: none;
}
@media (max-width: 750px){       
  .intro__list{
    margin: 0;
  }
}