.intro__list {
  font-weight: 400;
  font-style: mixed;
  font-size: 12px;
  line-height: 18px;
  line-height: 124%;
  padding: 0;
  list-style: none;
}
@media (max-width: 425px){       
  .intro__list{
    margin: 0;
  }
}