.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 100px 92px 100px;
  text-align: center;
}
@media (max-width: 1024px){    
  .lead {    
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (max-width: 768px){
  .lead{
    margin-bottom: 88px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 425px){        
  .lead{
    margin-bottom: 64px;
    }
}