.cover__subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  max-height: 66px;
  margin: 0;
  text-align: center;
  z-index: 2;
}
@media (max-width: 750px){      
  .cover__subtitle{
    font-size: 14px;
    line-height: 1.14;
  }
}