.footer__link {
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  cursor: pointer;
}
.footer__link:hover{  
  opacity: 80%;
  }
@media (max-width: 400px){ 
  .footer__link{
    font-size: 24px;
  line-height: 24px;
  }
}
