.lead__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  max-width: 720px;
  min-height: 200px;
}
@media (max-width: 750px){      
  .lead__title{
  font-size: 40px;
  line-height: 44px;
  max-width: 288px;
  min-height: 88px;
  }
}