.cover {
  margin-top: 92px;
  margin-bottom: 92px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: cover;
  width: 100%;
}
.cover:hover {
  opacity: 80%;
  cursor: pointer;
}

@media (max-width: 768px){      
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
     
  }
}
@media (max-width: 750px){          
  .cover{    
      margin-top: 99px;
      margin-bottom: 64px;
     
  }
}