.cover {
  margin-top: 92px;
  margin-bottom: 92px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cover:hover {
  opacity: 80%;
  cursor: pointer;
}
@media (max-width: 1024px){
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}
@media (max-width: 768px){      
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
    min-height: 480px;  
  }
}
@media (max-width: 425px){          
  .cover{    
      margin-top: 99px;
      margin-bottom: 64px;
      min-height: 200px;
  }
}