.cover {
  background-image: url(../../images/cover-trains.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  min-height: 740px;
  margin-top: 92px;
  margin-bottom: 92px;
}


@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  margin-bottom: 88px;
  }
}

@media (max-width: 450px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  margin-bottom: 64px;
  }
}