.place__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #FFFFFF;
  
  }
  .place__link:hover{
    opacity: 80%;
    cursor: pointer;
  }

