.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #FFFFFF;
}
@media (max-width: 425px){    
  .place__link {  
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: #FFFFFF;  
  }
}