.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 0;
  text-decoration: none;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #2A2C2F;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 30%;
}