.lead__caption {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  align-self: flex-start;
  margin: 0;
  margin-top: 8px;
}
@media (max-width: 768px){    
  .lead__caption{
    margin-left: 24px;
  }
}
@media (max-width: 425px){
  .lead__caption{
    margin-left: 16px;
  }
}