.cover__title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  max-height: 152px;
  margin: 0;
  margin-bottom: 32px;
  z-index: 2;
  text-align: center;
}
@media (max-width: 750px){        
  .cover__title{
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    margin: 33px 16px 16px 16px;
    max-width: 288px;
  max-height: 70px;
  }
}