.cover__title {
  margin: 0;
  text-decoration: none;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-family: 'Inter', "Arial", sans-serif;
  margin-bottom: 32px;
  color: #FFFFFF;
  text-align: center;
  z-index: 6;
}
@media (max-width: 750px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    margin-bottom: 16px;
  }
}    

