.cover__title {
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
    z-index: 2;  
  color: #FFFFFF;
}
@media (max-width: 750px){        
  .cover__title{
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    margin: 33px 16px 16px 16px;
    max-width: 288px;
  max-height: 70px;
  }
}