.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(auto-fit, max-content);
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}
.place:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px){
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: repeat(auto-fit, max-content);
    row-gap: 48px;
    column-gap: 32px;
    margin-bottom: 80px;
  }
}
@media (max-width: 768px){  
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: repeat(auto-fit, max-content);
    column-gap: 28px;
    margin-bottom: 73px;  
  }
}
@media (max-width:425px){
  .place {    
    grid-template-columns: 320px;
    grid-template-rows: repeat(auto-fit, max-content);
    gap: 50px;
    margin-bottom: 64px;
  }
}