.cover__header{
  max-width: 560px;
  z-index: 2;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
@media (max-width: 750px){        
  .cover__header{
    max-width: 288px;
    margin-bottom: 16px;
  }
}