.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px){    
  .footer{
    margin-bottom: 24px;
  }
}
@media (max-width: 425px){   
  .footer {
    flex-direction: column;
    margin-left: 16px;
    align-items: flex-start;
  }
}