.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;  
}
@media (max-width:1050px){   
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (max-width:900px){   
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width:760px){   
  .footer {
    margin-left: 16px;
    margin-right: 118px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;  
  }
}
