.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2 px;
  color: #AAAAAA;
}
@media (max-width: 750px){
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2 px;
    color: #AAAAAA;
  }
}